<div class="content-wrapper">
  <div class="container">   
    <div id="tour_messages">
      <input class="form-control" id="tourInput" type="text" placeholder="Tìm kiếm trong bảng.." style="margin-left: 550px">
      <h3><strong>All Tours</strong></h3>
      <div class="body">
        <table class="table table-hover" id="tours">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Counpon</th>
              <th>Seats</th>
              <th>Created at</th>
              <th>Last Update</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="toursTable">
            <%= render @tours %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @tours %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#tourInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#toursTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>