<tr>
  <td><%= tour_detail.id %></td>
  <td><%= tour_detail.departure_time %></td>
  <td><%= tour_detail.return_time %></td>
  <td><%= tour_detail.tour.seats %></td>
  <td>
    <button type="button" class="btn btn-primary">Book</button>
  </td>
</tr>