<% seats = tour.seats - tour_detail.booking_tours&.select{|b| b.book?}.sum{|x| x.quantity} %>
<tr>
  <td><%= tour_detail.departure_time %></td>
  <td><%= tour_detail.return_time %></td>
  <td><%= seats %></td>
  <td><%= link_to "Book Now", new_tour_booking_tour_path(tour, tour_detail_id: tour_detail.id), class: "btn btn-primary" %></td>
</tr>
