<div class="container">  
  <h5 style="padding-top: 50px"><strong>Please filling the form below to complete your booking</strong></h5>
  <% seats = @tour.seats - @tour_detail.booking_tours&.select{|b| b.book?}.sum{|x| x.quantity} %>
  <%= render "shared/booking_tour_form", seats: seats, tour_detail: @tour_detail, tour: @tour, booking_tour: @booking_tour %>
</div>
