<div class="col-md-3">
  <div class="single-package-item">
    <%= link_to image_tag(tour.category.images.sample&.link_url.to_s, alt: 'image-tour') %>
    <div class="single-package-item-txt">
      <%= link_to tour.name, category_tour_path(tour.category, tour), class: "tour-name" %>
      <div class="packages-review">
        <div class="row">
          <div class="col">
            <p style="margin-bottom: 5px">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </p>
          </div>
          <div class="col" style="height: 26px">
            <p class="old-price"><% if tour.coupon > 0 %>
              <strike><%= number_to_currency(tour.price, unit: "vnđ", precision: 0, format: "%n %u") %></strike>
            <% end %></p>
          </div>
        </div>
      </div><!--/.packages-review-->
      <div style="color: #007bff"><%= number_to_currency(tour.price * (100 - tour.coupon)/100, unit: "vnđ", precision: 0, format: "%n %u") %></div>
      <div class="about-btn">
        <button  class="about-view packages-btn">
          See More
        </button>
      </div><!--/.about-btn-->
    </div><!--/.single-package-item-txt-->
  </div><!--/.single-package-item-->
</div>