<div class="content-wrapper">
  <div class="container">
    <h4><strong>Edit Hotel: <%= @hotel.name %></strong></h4>
    <div class="hotel-form">
      <%= render "shared/hotel_form" %>
    </div>
  </div>
</div>

<script>
  CKEDITOR.replace( 'editor3');
</script>