<div class="content-wrapper">
 <div class="container">
    <div id="hotel_messages">
      <input class="form-control" id="hotelInput" type="text" placeholder="Tìm kiếm trong bảng.." style="margin-left: 550px">
      <h4><strong>All Hotels</strong></h4>
      <div class="body">
        <table class="table table-hover" id="hotels">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Location</th>
              <th>Link</th>
              <th>Created at</th>
              <th>Last Update</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="hotelsTable">
            <%= render @hotels %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#hotelInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#hotelsTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>