<div class="content-wrapper">
  <div class="container">
    <div id="category_messages">
      <input class="form-control" id="categoryInput" type="text" placeholder="Tìm kiếm trong bảng.." style="margin-left: 550px">
      <h4><strong>All Categories</strong></h4>
      <div class="body">
        <table class="table table-hover" id="categories-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Area</th>
              <th>Created at</th>
              <th>Last Update</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="categoriesTable">
            <%= render @categories %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @categories %>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#categoryInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#categoriesTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
