/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 /* special tags */
 h1,h2,h3 {
  text-align: center;
 }


/* registrations */
.registrations_form {
  input {
    border-radius: 20px;
    margin-bottom: 10px;
  }
}
#facebook {
  background-color: #3b5998;
}
#google {
  background-color: red;
}

#facebook, #google {
  border-radius: 20px;
  margin-bottom: 10px;
  a {
    display: block;
    color: white;
    padding-top: 6px;
    &:hover { color: black;}
    text-decoration: none;
  };
  height: 38px;
  text-align: center;
}


 #categories {
  border-collapse: collapse;
  width: 100%;
  th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color:#f5f5f5;}
}

/*admin-categories-index*/
#div-button-new{
  #form-button-new{
    display:none;
  }
}


//* admin *//

/* show tour */
#time_title, #images_title {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#time_title {
  background-color: #28a745;
  color: white;
}

#images_title {
  background-color: #ffc107;
  color: white;
}

