<div class="col-md-4">
  <div class="filtr-item" style="height: 232.233px">
    <%= link_to image_tag("bg_1.png", alt: "Rails logo"), "https://rubyonrails.org/" %>
    <div class="item-title">
      <%= link_to category.name, category_tours_path(category) %>
    </div> <!-- /.item-title-->
  </div>
</div><!-- /.col -->