<div class="row" style="border-top-color: #b7b7b7;border-top-style: solid;border-top-width: 1px;">
  <div class="col-sm-3">
    <div>Rate</div>
    <div>Name</div>
    <div>Time</div>
  </div>
  <div class="col-sm-9">
    <h5>Title</h5>
    <span>Content</span>
  </div>
</div>